__pycache__/
*.pyc
*.pyo
*.pyd
*.spec
.venv/
venv/
env/
.env
build/dist/
build/build/
build/*.toc
dist/
*.egg-info/
.idea/
.vscode/
*.log
*.db
*.sqlite
*.sqlite3
bin/ffmpeg.exe
bin/libdiscid*.dll
.DS_Store
Thumbs.db
